Sebastian Ruiz Uvalle

6BV1

Ing. en Inteligencia Artificial

19 de abril de 2023

Este programa se encarga de la categorización de muestras de 5 libros diferentes obtenidos de Project Gutenberg (www.gutenberg.org), siendo el dataset de 2166 observaciones.

In [1]:
# Descarga de los titulos disponibles para descargar del Proyecto Gutenberg

import numpy as np
import nltk

nltk.download('gutenberg')
books_names=nltk.corpus.gutenberg.fileids()
books_names

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Unzipping corpora/gutenberg.zip.

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

In [2]:
# Selección de los libros que vamos a usar para la practica

books_idx=[1,3,5,7,9]
selected_books=[]
for idx in books_idx:
  selected_books.append(books_names[idx])
print(selected_books)

['austen-persuasion.txt', 'bible-kjv.txt', 'bryant-stories.txt', 'carroll-alice.txt', 'chesterton-brown.txt']

In [3]:
# Obtención del corpus de los libros seleccionados y su visualización

book_contents=[]
for book_name in selected_books:
    book_contents.append(nltk.corpus.gutenberg.raw(book_name))
book_contents[0][1:500]

'Persuasion by Jane Austen 1818]\n\n\nChapter 1\n\n\nSir Walter Elliot, of Kellynch Hall, in Somersetshire, was a man who,\nfor his own amusement, never took up any book but the Baronetage;\nthere he found occupation for an idle hour, and consolation in a\ndistressed one; there his faculties were roused into admiration and\nrespect, by contemplating the limited remnant of the earliest patents;\nthere any unwelcome sensations, arising from domestic affairs\nchanged naturally into pity and contempt as he turn'

In [4]:
# Descarga de las bibliotecas necesarias para poder remover palabras irrelevantes, sustituir palabras
# flexionadas por un termino general y sustituir terminos por su raiz gramatical
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

from nltk.corpus import stopwords, wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [20]:
import re

def get_wordnet_pos(word):
    # Mapeamos la etiqueta POS al primer caracter lemmatize() acepte
    tag = pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)


def clean_text(text):
    # Definicion de patron de palabras para la mantencion de estas y pasado de texto a minusculas
    lemmatizer = WordNetLemmatizer()
    sub_pattern = r'[^A-Za-z]'
    split_pattern = r"\s+"
    stop_words = stopwords.words('english') + ['chapter','never','ever','couldnot','wouldnot','could','would','us',"i'm","you'd"]
    lower_book = text.lower()

    # Reemplazando todos los caracteres, excepto los que esten en los patrones definidos en sub_patten
    # a espacios, tokenizado de los documentos y lematizacion 
    filtered_book = re.sub(sub_pattern,' ',lower_book).lstrip().rstrip()
    filtered_book = word_tokenize(filtered_book)
    filtered_book = [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in filtered_book if word not in stop_words]

    return filtered_book

In [21]:
# Obtencion del corpus de los 5 libros ya limpiados en cleaned_boos_contents
cleaned_books_contents=[]
for book in book_contents :
    cleaned_books_contents.append(clean_text(book))
cleaned_books_contents[0][1:30]

['jane',
 'austen',
 'sir',
 'walter',
 'elliot',
 'kellynch',
 'hall',
 'somersetshire',
 'man',
 'amusement',
 'take',
 'book',
 'baronetage',
 'found',
 'occupation',
 'idle',
 'hour',
 'consolation',
 'distressed',
 'one',
 'faculty',
 'rouse',
 'admiration',
 'respect',
 'contemplate',
 'limited',
 'remnant',
 'early',
 'patent']

In [22]:
# Vista de cuantas palabras tiene cada documento
for i in range(len(cleaned_books_contents)):
    size = len(cleaned_books_contents[i])
    print(size)

37186
372131
21357
11984
34882

In [23]:
# Creacion de 500 muestras aproximadamente aleatorias de cada libro donde cada muestra contiene 50 palabras
def book_samples(book,n_samples) :
    import random
    samples=[]
    start=0
    while start +n_samples < len(book)-1:
        temp1=""
        for j in range(start,start+n_samples):
            temp1+= book[j] + " "
        samples.append(temp1)
        start+=n_samples
    random_samples_index=random.sample(range(0,len(samples)), k=min(500,len(samples)))
    partitions=[]
    for idx in random_samples_index :
        partitions.append(samples[idx])
    return partitions

In [24]:
samples_of_books=[]
for cleaned_book in cleaned_books_contents :
    samples_of_books.append(book_samples(cleaned_book,50))
samples_of_books[0][0]

'leave much time see new place deduct seven hour nature country require go return consequently stay night expect back till next day dinner felt considerable amendment though met great house rather early breakfast hour set punctually much past noon two carriage mr musgrove coach contain four lady charles curricle drove '

In [29]:
import pandas as pd
data_frame =pd.DataFrame()
data_frame['Sample']=[item for sublist in samples_of_books for item in sublist]
target=[[selected_books[i]]*min(500,len(samples_of_books[i])) for i in range(len(selected_books)) ]
data_frame['Book Name']=[item for sublist in target for item in sublist]
data_frame['Book Name'].unique()

array(['austen-persuasion.txt', 'bible-kjv.txt', 'bryant-stories.txt',
       'carroll-alice.txt', 'chesterton-brown.txt'], dtype=object)

In [30]:
from sklearn.utils import shuffle

data_frame = shuffle(data_frame)
data_frame

                                                 Sample              Book Name
323   give information captain wentworth visit stay ...  austen-persuasion.txt
1537  felt little nervous might end know say alice g...      carroll-alice.txt
1739  large fortune sure meant contempt arthur may s...   chesterton-brown.txt
1469  go executioner king queen talk rest quite sile...      carroll-alice.txt
1500  remark variation shall sit say day day say ali...      carroll-alice.txt
...                                                 ...                    ...
1755  dash first negro cry black flambeau fanshaw bo...   chesterton-brown.txt
1105  funny sight little jack rollaround lie trundle...     bryant-stories.txt
1876  saint science large dare cosmic theory adverti...   chesterton-brown.txt
2108  want interview champion interviewed nearly eve...   chesterton-brown.txt
1553  feeble voice heard every word fellow say tell ...      carroll-alice.txt

[2166 rows x 2 columns]

In [31]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y = label_encoder.fit_transform(data_frame['Book Name'])
data_frame['Book Name'] = y

In [32]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(data_frame,test_size=0.2,random_state = 0)
X_train, X_test, y_train, y_test = train_test_split(data_frame['Sample'], data_frame['Book Name'], random_state = 0, test_size=0.2)

df_train

                                                 Sample  Book Name
114   walk anne always thought style intercourse hig...          0
1745  duke give away hear time nearly lose estate pr...          4
1134  path row fir tree small none little little fir...          2
314   pride delicacy others small knowledge afterwar...          0
53    sensation comfort perhaps likely knew first ut...          0
...                                                 ...        ...
1278  jackal friend brahmin stood roadside say brahm...          2
208   suddenly rouse little reverie come find recoll...          0
1838  rule throughout terrible tidiness unlike terri...          4
89    fate conclusion whole woman sensible captain w...          0
989   woman child suckle judah leave none remain ye ...          1

[1732 rows x 2 columns]

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

def tfidf_ngram(n_gram,X_train=X_train,X_test=X_test):
    vectorizer = TfidfVectorizer(ngram_range=(1,n_gram))
    x_train_vec = vectorizer.fit_transform(X_train)
    x_test_vec = vectorizer.transform(X_test)
    return x_train_vec,x_test_vec

X_train1g_cv, X_test1g_cv = tfidf_ngram(1,X_train=X_train,X_test=X_test)
X_train2g_cv, X_test2g_cv = tfidf_ngram(2,X_train=X_train,X_test=X_test)

print(X_train1g_cv)
print(X_test1g_cv)
print(X_train2g_cv)
print(X_test2g_cv)

  (0, 7329)	0.11360633767641247
  (0, 3025)	0.13140976764301973
  (0, 3584)	0.16499126869683506
  (0, 3107)	0.20813378033841853
  (0, 5705)	0.20813378033841853
  (0, 3412)	0.16781555737439977
  (0, 1578)	0.15795834543420023
  (0, 200)	0.11741198535147748
  (0, 6014)	0.16010396622575146
  (0, 3326)	0.07576426928060367
  (0, 3409)	0.1786844346461899
  (0, 1914)	0.1132150029942142
  (0, 5914)	0.11787021787136046
  (0, 3020)	0.1492350889539613
  (0, 6905)	0.16243638881610037
  (0, 1168)	0.1835717371172735
  (0, 7101)	0.10794199675149765
  (0, 5529)	0.1835717371172735
  (0, 7309)	0.15795834543420023
  (0, 2865)	0.1541223914250449
  (0, 5360)	0.08968256150522701
  (0, 3836)	0.11741198535147748
  (0, 3528)	0.10436256096443605
  (0, 3196)	0.12239030981034939
  (0, 7036)	0.11360633767641247
  :	:
  (1731, 7426)	0.09731536780593303
  (1731, 8531)	0.6367277744119468
  (1731, 280)	0.07711789346749164
  (1731, 8601)	0.0751966187963927
  (1731, 8540)	0.16640139635941123
  (1731, 4303)	0.09521175531733511
  (1731, 4479)	0.15716402966243026
  (1731, 1859)	0.088493800354761
  (1731, 3986)	0.12098735473844581
  (1731, 2403)	0.10163244644265289
  (1731, 2469)	0.10305918555945165
  (1731, 5157)	0.09966700649339362
  (1731, 2425)	0.08162362722986316
  (1731, 2875)	0.055797545222439446
  (1731, 4353)	0.293633470119601
  (1731, 4418)	0.06389300166341869
  (1731, 8668)	0.38067077491412205
  (1731, 8229)	0.11708600093875252
  (1731, 3368)	0.06368609978856973
  (1731, 6057)	0.11617234874375673
  (1731, 4939)	0.1353167701908658
  (1731, 3544)	0.062487789074042024
  (1731, 1305)	0.06882177350579947
  (1731, 5259)	0.09376781167362093
  (1731, 3364)	0.04280801000124019
  (0, 8594)	0.15792230549465433
  (0, 8518)	0.11608672754715488
  (0, 8471)	0.08010888878415565
  (0, 8435)	0.09282944636854457
  (0, 8363)	0.10402511392244203
  (0, 7841)	0.11642890384119509
  (0, 7123)	0.18827639984162625
  (0, 6985)	0.12867332245456595
  (0, 6653)	0.2456951084038946
  (0, 6157)	0.1425799540428774
  (0, 5629)	0.18827639984162625
  (0, 5628)	0.09656017044691717
  (0, 5174)	0.14819369549759018
  (0, 5172)	0.11894471245750175
  (0, 5123)	0.26980703203641776
  (0, 4887)	0.18827639984162625
  (0, 4766)	0.1662402181822953
  (0, 4699)	0.12340175729389334
  (0, 4675)	0.07549823375631902
  (0, 4418)	0.27758005145378284
  (0, 3544)	0.09049172447074975
  (0, 3498)	0.16096865302162275
  (0, 3326)	0.08172121220786502
  (0, 3296)	0.09063242333423817
  (0, 3185)	0.18441553199037686
  :	:
  (433, 7787)	0.22471125545955362
  (433, 7738)	0.1282694966963938
  (433, 7684)	0.13013814916516211
  (433, 7648)	0.0829506517029949
  (433, 7456)	0.13984496161371923
  (433, 7429)	0.1282694966963938
  (433, 7348)	0.13984496161371923
  (433, 7211)	0.10295675432935282
  (433, 6844)	0.06229704885299264
  (433, 6344)	0.12655050306043644
  (433, 6142)	0.1580414928418527
  (433, 6111)	0.07520411973148655
  (433, 5894)	0.16674924350020684
  (433, 4768)	0.05111206661297024
  (433, 4682)	0.06639577893327003
  (433, 4602)	0.09805468165450214
  (433, 4517)	0.10241303020923823
  (433, 4467)	0.11250680728191693
  (433, 4361)	0.12078927759573044
  (433, 3645)	0.1580414928418527
  (433, 3419)	0.13218502635469717
  (433, 3407)	0.16674924350020684
  (433, 1956)	0.11429750701319927
  (433, 1331)	0.13013814916516211
  (433, 62)	0.20817465762441947
  (0, 23779)	0.11908111063120665
  (0, 29386)	0.11908111063120665
  (0, 24380)	0.11908111063120665
  (0, 49629)	0.11908111063120665
  (0, 27706)	0.11908111063120665
  (0, 12521)	0.11908111063120665
  (0, 1233)	0.11908111063120665
  (0, 51924)	0.11908111063120665
  (0, 26384)	0.11908111063120665
  (0, 27689)	0.11908111063120665
  (0, 31928)	0.11908111063120665
  (0, 14724)	0.11908111063120665
  (0, 51238)	0.11908111063120665
  (0, 23715)	0.11908111063120665
  (0, 59956)	0.11908111063120665
  (0, 9232)	0.11908111063120665
  (0, 61627)	0.11908111063120665
  (0, 48265)	0.11908111063120665
  (0, 63519)	0.11908111063120665
  (0, 21939)	0.11908111063120665
  (0, 46879)	0.10845053056892032
  (0, 31835)	0.11908111063120665
  (0, 28735)	0.09160145980928253
  (0, 25192)	0.11908111063120665
  (0, 61195)	0.11908111063120665
  :	:
  (1731, 75050)	0.11261362767117286
  (1731, 34417)	0.06443540377549706
  (1731, 32908)	0.09253296014477644
  (1731, 36290)	0.10636215745136139
  (1731, 14329)	0.05988896789563828
  (1731, 32901)	0.08187927035183719
  (1731, 17958)	0.0687806637047852
  (1731, 44920)	0.0994352709195446
  (1731, 18514)	0.06974622211474012
  (1731, 44913)	0.06745053470648117
  (1731, 18158)	0.05523951701811873
  (1731, 35468)	0.08187927035183719
  (1731, 22019)	0.03776148590167672
  (1731, 34743)	0.19871906726324187
  (1731, 35368)	0.043240158180985824
  (1731, 76718)	0.09006941879645147
  (1731, 76677)	0.2576223388106878
  (1731, 71667)	0.0792389944056953
  (1731, 27164)	0.04310013549362579
  (1731, 52125)	0.07862067214182455
  (1731, 42540)	0.09157682993853059
  (1731, 28844)	0.042289168040271434
  (1731, 10346)	0.046575748442110695
  (1731, 45872)	0.06345820204865478
  (1731, 26708)	0.028970702200185335
  (0, 75733)	0.11300565065524092
  (0, 74800)	0.11762246683970794
  (0, 74758)	0.08306905182148556
  (0, 74290)	0.16064588968898466
  (0, 74142)	0.05732411942674099
  (0, 73888)	0.16064588968898466
  (0, 73778)	0.06642666439034646
  (0, 72898)	0.07443803233792735
  (0, 68989)	0.16064588968898466
  (0, 68970)	0.08331390548307374
  (0, 61901)	0.13472635800551602
  (0, 60630)	0.09207573610582864
  (0, 57264)	0.16064588968898466
  (0, 57246)	0.14168793255475873
  (0, 57209)	0.10923343716654238
  (0, 56951)	0.17581389469350106
  (0, 52975)	0.15225686001581915
  (0, 52945)	0.10202700895571153
  (0, 49141)	0.13472635800551602
  (0, 49075)	0.16064588968898466
  (0, 48977)	0.06909628664903329
  (0, 45133)	0.10604407610599821
  (0, 45043)	0.08511416155658592
  (0, 44519)	0.16064588968898466
  (0, 44491)	0.19306784504654342
  :	:
  (433, 64912)	0.11383300749216979
  (433, 64678)	0.10441064454498737
  (433, 63827)	0.1357329407197645
  (433, 63822)	0.11383300749216979
  (433, 62823)	0.08380621548107993
  (433, 59325)	0.050709445281345654
  (433, 54468)	0.10301139345161278
  (433, 52729)	0.12864488095347593
  (433, 52362)	0.06121572794651552
  (433, 51120)	0.1357329407197645
  (433, 40317)	0.04160493302408498
  (433, 39635)	0.1357329407197645
  (433, 39514)	0.05404578837553137
  (433, 37655)	0.07981595606033083
  (433, 36790)	0.08336362712377006
  (433, 36211)	0.09157990454899699
  (433, 34842)	0.09832178852112225
  (433, 30239)	0.12864488095347593
  (433, 27724)	0.10759786353225861
  (433, 27684)	0.1357329407197645
  (433, 15410)	0.09303752399824348
  (433, 10585)	0.10593171708148053
  (433, 321)	0.1357329407197645
  (433, 320)	0.1357329407197645
  (433, 291)	0.16945299342636924

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import BernoulliNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

text_embedding = {
    'TF_IDF 1_gram':(X_train1g_cv,X_test1g_cv),
    'TF_IDF 2_gram':(X_train2g_cv,X_test2g_cv)
}

models = [
          LinearRegression(),
          BernoulliNB(),
          GaussianNB(),
          KNeighborsClassifier()
          ]

results_dict={'Model Name':[],'Embedding type':[],'Testing Accuracy':[],'Cross Validation':[]}

for model in models:
    for embedding_vector in text_embedding.keys():
        train = text_embedding[embedding_vector][0].toarray()
        test = text_embedding[embedding_vector][1].toarray()
        model.fit(train, y_train)

        results_dict['Model Name'].append(type(model).__name__)
        results_dict['Embedding type'].append(embedding_vector)

        test_acc = model.score(test, y_test)
        results_dict['Testing Accuracy'].append(test_acc)

        score = cross_val_score(model,test,y_test, scoring='r2')
        results_dict['Cross Validation'].append(score.mean())

results_df=pd.DataFrame(results_dict)

results_df

             Model Name Embedding type  Testing Accuracy  Cross Validation
0      LinearRegression  TF_IDF 1_gram          0.837651          0.716048
1      LinearRegression  TF_IDF 2_gram          0.826970          0.691193
2           BernoulliNB  TF_IDF 1_gram          0.983871         -0.099754
3           BernoulliNB  TF_IDF 2_gram          0.824885         -1.488358
4            GaussianNB  TF_IDF 1_gram          0.940092          0.784628
5            GaussianNB  TF_IDF 2_gram          0.970046          0.821021
6  KNeighborsClassifier  TF_IDF 1_gram          0.944700          0.661440
7  KNeighborsClassifier  TF_IDF 2_gram          0.940092          0.723574

In [42]:
from keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)
train_data = tokenizer.texts_to_sequences(X_train)
train_data = tokenizer.sequences_to_matrix(train_data, mode='binary')

tokenizer.fit_on_texts(X_test)
test_data = tokenizer.texts_to_sequences(X_test)
test_data = tokenizer.sequences_to_matrix(test_data, mode='binary')

train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [43]:
test_data

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 1.]])